@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
  justify-content: space-between;
  align-items: flex-start;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-menu {
  display: flex;
  align-items: center;
}

.navigation-menu .navigation-link {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation-user .navigation-link {
  display: flex;
  padding: 22px 12px;
  justify-content: center;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
}

.button-large {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.button-secondary {
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 50px;
}

.button-transparent {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.button-tertiary {
  color: #ffffff;
  background-color: #7db54f;
}

.button-sort {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.button-current {
  border: 2px solid #000000;
}

.navigation-button {
  margin-left: 20px;
}

.hero-container {
  background-image: url("../images/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color:#ffffff;
  background-color: #23353f;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 650px;
  margin: 0 auto;
}

.page-subtitle {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-extended,
.advantages-item-extended:nth-child(even) {
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
}

.advantages-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantages-item-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-extended .advantages-item-title {
  color: #ffffff;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-img {
  width: 800px;
  min-height: 385px;
}

.advantages-description-container {
  display: flex;
  width: 1200px;
  padding: 69px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-description-container {
  display: flex;
  padding: 64px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  width: 400px;
  text-align: center;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  align-items: center;
}

.search .page-title {
  margin: 0;
  margin-bottom: 20px;
}

.search .page-subtitle {
  margin: 0;
  width: 592px;
  min-height: 52px;
  margin-bottom: 54px;
}

.filters-container {
  background-image: url("../images/inner-header-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #2b2533;
}

.inner-header-title {
  color: inherit;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.catalog-filter {
  width: 1060px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.control-input {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.range-slifer-input {
  color: #000000;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
}

.control-text {
  text-align: right;
  font-weight: 400;
}

.control-input-cost {
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.catalog {
  display: flex;
  padding: 50px 70px 60px 70px;
  flex-direction: column;
}
.sorting-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  color: #333333;
  margin-bottom: 40px;
}

.sorting-menu {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.sort-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.select-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 292px;
  padding: 14px 20px;
  margin-left: 70px;
}

.hotel-list {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  width: 340px;
  background-color: #ffffff;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.hotel-card-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.star-rating {
  background-image: url("../images/rating-star.svg");
  background-repeat: no-repeat;
}

.hotel-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  align-items: center;
  align-self: stretch;
  width: 1060px;
  margin-top: 40px;
}

.pagination-list {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  min-width: 60px;
  height: 60px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-further {
  color: #000000;
  background-color: #ffffff;
  font-family: PT Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  min-width: 60px;
  height: 60px;
}
.subscription {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color:#ffffff;
  background-color: #2b2533;
  display: flex;
  flex-direction: column;
  padding: 96px 258px 104px 258px;
  justify-content: center;
  align-items: center;
  width: 1200px;
  min-height: 414px;
}

.subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 684px;
}

.subscription .page-subtitle {
  color: #ffffff;
}

.subscription-simple {
  background-color: #ffffff;
  color: #333333;
  background-image: none;
}

.subscription-simple .page-subtitle {
  color: #333333;
}

.subscription-simple .page-title {
  color: #000000;
}

.subscription-form {
  display: flex;
  flex-shrink: 1;
  text-align: center;
}

.field {
  width: 452px;
  height: 52px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.subscription-button {
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 232px;
  height: 52px;
  padding: 8px 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px 4px 4px 0px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 180px;
  align-items: center;
}

.footer-social-item {
  display: block;
}

.footer-phone-number {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 720px;
  padding: 5px 194px 5px 195px;
  margin-left: auto;
  margin-right: auto;
}
