@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
  justify-content: space-between;
  align-items: flex-start;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-menu {
  display: flex;
  align-items: center;
  width: 460px;
}

.navigation-menu .navigation-link {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  align-items: center;
  margin-left: auto;
  max-width: 270px;
}

.navigation-user .navigation-link {
  display: flex;
  padding: 22px 12px;
  justify-content: center;
  min-width: 44px;
  min-height: 64px;
}

.navigation-link {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-link[href]:hover {
  color: #756157;
}

.navigation-link[href]:active {
  color: rgba(117, 97, 87, 0.30);
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
}

.navigation-link-favorites-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  font-family: PT Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  bottom: 35px;
  left: 20px;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-icon:hover path {
  fill: #756157;
}

.navigation-icon:active path {
  fill: #756157;
  fill-opacity: 0.3;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.page-header-logo {
  display: block;
  margin-bottom: -6px;
}

.page-header {
  position: relative;
  z-index: 1;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  min-width: 140px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #756157;
}

.button:disabled {
  color: rgba(255, 255, 255, 0.30);
  background-color: #e5e5e5;
}

.button-large {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.button-secondary {
  color: #ffffff;
  background-color: #82b3d3;
}

.button-secondary:hover {
  background-color: #68a2ca;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #82b3d3;
}

.button-transparent {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.30);
  background-color: transparent;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: transparent;
}

.button-transparent:disabled {
  color: #ffffff;
  background-color: transparent;
  opacity: 0.1;
}

.button-tertiary {
  color: #ffffff;
  background-color: #7db54f;
}

.button-tertiary:hover {
  background-color: #6c9e42;
}

.button-tertiary:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #7db54f;
}

.button-sort {
  display: flex;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  cursor: pointer;
}

.button-sort:hover,
.button-sort:active  {
  border-color: #000000;
}

.button-current {
  border-color: #000000;
}

.navigation-button {
  margin-left: 20px;
}

.hero {
  position: relative;
  background-image: url("../images/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color:#ffffff;
  background-color: #23353f;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
  background-color: transparent;
  background-image: url(../images/hero-decor.svg);
}

.hero-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
  max-width: 100%;
  height: auto;
}

.page-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 650px;
  margin: 0;
  margin-bottom: 20px;
}

.page-subtitle {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.page-title-advantages {
  margin-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-extended,
.advantages-item-extended:nth-child(even) {
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
}

.advantages-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantages-item-title {
  position: relative;
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-title::after {
  position: absolute;
  content: "";
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-item-extended .advantages-item-title {
  color: #ffffff;
}

.advantages-item-extended .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-img {
  display: block;
  width: 800px;
  min-height: 385px;
}

.advantages-description-container {
  display: flex;
  width: 1200px;
  padding: 69px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-description-container {
  display: flex;
  padding: 64px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  width: 400px;
  text-align: center;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.services-icon {
  background-repeat: no-repeat;
  background-position: 50% 80px;
  background-size: 75px 72px;
}

.services-icon-house {
  background-image: url("../images/services-icon-1.svg");
}

.services-icon-food {
  background-image: url("../images/services-icon-2.svg");
}

.services-icon-souvenirs {
  background-image: url("../images/services-icon-3.svg");
}

.services-item-title {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  margin: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  align-items: center;
}

.search .page-title {
  margin: 0;
  margin-bottom: 20px;
}

.search .page-subtitle {
  margin: 0;
  width: 592px;
  min-height: 52px;
  margin-bottom: 54px;
}

.filters-container {
  background-image: url("../images/inner-header-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #2b2533;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  color: inherit;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.catalog-filter {
  width: 1060px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:hover {
  opacity: 0.6;
}

.catalog-filter-item:active {
  opacity: 0.3;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.control-input {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.range-slifer-input {
  color: #000000;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
}

.range-slifer-input:hover {
  background-color: #e6e6e6;
}

.control-text {
  font-size: 18px;
  text-align: right;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.control-input-cost {
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item:not(:last-child) {
  background-image: url(../images/breadscrums-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 18px;
}

.breadcrumbs-link {
  display: inline-flex;
  justify-content: center;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 10px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.60);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.30);
}

.breadscrums-link-icon:hover path {
  fill: rgba(255, 255, 255, 0.60);
}

.breadscrums-link-icon:active path {
  fill: rgba(255, 255, 255, 0.30);
}

.catalog {
  display: flex;
  padding: 50px 70px 60px 70px;
  flex-direction: column;
}

.sorting-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  color: #333333;
  margin-bottom: 40px;
}

.sorting-menu {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.sort-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.select-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 292px;
  padding: 14px 20px;
  margin-left: 70px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #3f5e72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.30);
  border-color: rgba(0, 0, 0, 0.30);
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px;
}

.hotel-link-image {
  text-decoration: none;
  grid-column: 1 / -1;
}

.hotel-card-image {
  display: block;
}

.hotel-link-title {
  text-decoration: none;
  grid-column: 1 / -1;
}

.hotel-card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.hotel-card-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.hotel-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
  text-align: right;
}

.star-rating {
  width: 106px;
  min-height: 17px;
  align-self: center;
  background-image: url(../images/rating-star.svg);
  background-repeat: space;
  background-size: 18px 17px;
}

.star-rating-1 {
  width: 18px;
}

.star-rating-2 {
  width: 40px;
}

.star-rating-3 {
  width: 62px;
}

.star-rating-4 {
  width: 84px;
}

.star-rating-5 {
  width: 106px;
}

.hotel-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  min-width: 140px;
  min-height: 37px;
  text-align: center;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}

.pagination {
  display: flex;
  align-items: center;
  align-self: stretch;
  width: 1060px;
  margin-top: 40px;
}

.pagination-list {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  min-width: 60px;
  height: 60px;
}

.pagination-link[href]:hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link[href]:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-further {
  color: #000000;
  background-color: #ffffff;
  font-family: PT Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  min-width: 60px;
  height: 60px;
}

.subscription {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color:#ffffff;
  background-color: #2b2533;
  display: flex;
  flex-direction: column;
  padding: 96px 258px 104px 258px;
  justify-content: center;
  align-items: center;
  width: 1200px;
  min-height: 414px;
}

.subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 684px;
}

.subscription .page-subtitle {
  color: #ffffff;
  margin-bottom: 54px;
}

.subscription-simple {
  background-color: #ffffff;
  color: #333333;
  background-image: none;
}

.subscription-simple .page-subtitle {
  color: #333333;
}

.subscription-simple .page-title {
  color: #000000;
}

.subscription-form {
  display: flex;
  flex-shrink: 1;
  text-align: center;
}

.field {
  width: 452px;
  height: 52px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border-color: #f2f2f2;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 20px;
}

.field:hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.field:focus{
  background-color: #f2f2f2;
  border-color: #000000;
  color: #000000;
}

.subscription-button {
  color: #ffffff;
  box-sizing: border-box;
  background-color: #82b3d3;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 232px;
  height: 52px;
  padding: 8px 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0 4px 4px 0;
}

.subscription-button:hover {
  background-color: #68a2ca;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #82b3d3;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
  align-items: center;
  justify-content: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.footer-social-icon:hover path {
  fill: #68a2ca;
}

.footer-social-icon:active path {
  fill: #68a2ca;
  fill-opacity: 0.3;
}

.footer-phone-number {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 720px;
  padding: 5px 194px 5px 195px;
  margin-left: auto;
  margin-right: auto;
}

.footer-phone-number:hover {
  color: #756157;
}

.footer-phone-number:active {
  color: rgba(117, 97, 87, 0.30);
}

.footer-developer-icon {
  display: block;
}

.footer-developer-icon:hover path{
  fill: #756157;
}

.footer-developer-icon:active path {
  fill: #756157;
  fill-opacity: 0.3;
}
