@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-menu {
  display: flex;
  align-items: center;
  width: 460px;
}

.navigation-menu .navigation-link {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  align-items: center;
  max-width: 270px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  display: flex;
  justify-content: center;
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
}

.navigation-link {
  position: relative;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link[href]:hover {
  color: #756157;
}

.navigation-link[href]:active {
  color: rgba(117, 97, 87, 0.30);
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
}

.navigation-link-favorites-qty {
  position: absolute;
  bottom: 35px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  font-family: inherit;
  font-style: normal;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-icon:hover path {
  fill: #756157;
}

.navigation-icon:active path {
  fill: #756157;
  fill-opacity: 0.3;
}

.navigation-logo {
  width: 138px;
  margin-right: 30px;
}

.page-header-logo {
  display: block;
  margin-bottom: -6px;
}

.page-header {
  position: relative;
  z-index: 1;
}

.main-container {
  flex-grow: 1;
}

.button {
  display: block;
  min-width: 140px;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #756157;
}

.button:disabled {
  color: rgba(255, 255, 255, 0.30);
  background-color: #e5e5e5;
}

.button-large {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.button-secondary {
  color: #ffffff;
  background-color: #82b3d3;
}

.button-secondary:hover {
  background-color: #68a2ca;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #82b3d3;
}

.button-transparent {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.30);
  background-color: transparent;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: transparent;
}

.button-transparent:disabled {
  color: #ffffff;
  background-color: transparent;
  opacity: 0.1;
}

.button-tertiary {
  color: #ffffff;
  background-color: #7db54f;
}

.button-tertiary:hover {
  background-color: #6c9e42;
}

.button-tertiary:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #7db54f;
}

.button-sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  cursor: pointer;
}

.button-sort:hover,
.button-sort:active  {
  border-color: #000000;
}

.button-current {
  border-color: #000000;
}

.button-sort-cards {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../images/button-sort-cards.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-sort-slide {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../images/button-sort-slide.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-sort-list {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../images/button-sort-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-button {
  margin-left: 20px;
  width: 160px;
}

.hero {
  position: relative;
  color:#ffffff;
  background-image: url("../images/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #23353f;
}

.hero::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
  background-image: url("../images/hero-decor.svg");
  background-color: transparent;
}

.hero-welcome {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.page-title {
  width: 650px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.page-subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.page-title-advantages {
  margin-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-extended,
.advantages-item-extended:nth-child(even) {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  height: 100%;
  padding: 102px 85px;
}

.advantages-item-title {
  position: relative;
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-title::after {
  position: absolute;
  content: "";
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-item-extended .advantages-item-title {
  color: #ffffff;
}

.advantages-item-extended .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-img {
  display: block;
  width: 800px;
  min-height: 385px;
}

.advantages-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin-bottom: 21px;
  padding: 69px 0;
}

.services-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 64px 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  width: 400px;
  text-align: center;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-text {
  width: 400px;
  min-height: 385px;
  height: 100%;
  padding: 183px 80px 85px;
}

.services-icon {
  background-repeat: no-repeat;
  background-position: 50% 80px;
  background-size: 75px 72px;
}

.services-icon-house {
  background-image: url("../images/services-icon-1.svg");
}

.services-icon-food {
  background-image: url("../images/services-icon-2.svg");
}

.services-icon-souvenirs {
  background-image: url("../images/services-icon-3.svg");
}

.services-item-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 304px;
}

.search .page-title {
  margin: 0;
  margin-bottom: 20px;
}

.search .page-subtitle {
  margin: 0;
  margin-bottom: 54px;
  width: 592px;
  min-height: 52px;
}

.filters-container {
  padding: 35px 70px 70px 70px;
  color: #ffffff;
  background-image: url("../images/inner-header-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #2b2533;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-family: inherit;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: inherit;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.catalog-filter-features {
  display: flex;
  justify-content: flex-start;
  gap: 70px;
}

.catalog-filter-sorting {
  display: flex;
  justify-content: flex-start;
  gap: 70px;
}

.catalog-filter-buttons {
  padding-top: 56px;
}

.catalog-filter-buttons .button {
  display: block;
  width: 191px;
}

.catalog-filter-buttons .button:not(:last-child) {
  margin-bottom: 32px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark-checkbox {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.control-mark-radio {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-label {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.control-input[type="checkbox"]:checked +
.control-mark-checkbox {
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 19px;
}

.control-input[type="checkbox"]:hover + .control-mark-checkbox,
.control-input[type="checkbox"]:hover ~ .control-label {
  opacity: 0.6;
}

.control-input[type="checkbox"]:active + .control-mark-checkbox,
.control-input[type="checkbox"]:active ~ .control-label {
  opacity: 0.3;
}

.control-input[type="checkbox"]:focus + .control-mark-checkbox {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:disabled + .control-mark-checkbox,
.control-input[type="checkbox"]:disabled ~ .control-label {
  opacity: 0.3;
  pointer-events: none;
}

.control-input[type="radio"]:checked + .control-mark-radio {
  background-image: url("../images/tick-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 19px;
}

.control-input[type="radio"]:hover + .control-mark-radio,
.control-input[type="radio"]:hover ~ .control-label {
  opacity: 0.6;
}

.control-input[type="radio"]:active + .control-mark-radio,
.control-input[type="radio"]:active ~ .control-label {
  opacity: 0.3;
}

.control-input[type="radio"]:focus + .control-mark-radio {
  border-radius: 18px;
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:disabled + .control-mark-radio,
.control-input[type="radio"]:disabled ~ .control-label {
  opacity: 0.3;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 43px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: transparent;
}

.catalog-filter-label {
  position: relative;
  margin-right: 2px;
}

.range-text {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.range-input {
  width: 143px;
  padding: 11px 20px;
  padding-right: 35px;
  font: inherit;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  appearance: textfield;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
  border: 2px solid #f2f2f2;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
  border: 2px solid #f2f2f2;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:active {
  border-radius: 4px 0 0 4px;
  border: 2px solid #000;
  background-color: #f2f2f2;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: gray;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 18px;
  background-image: url("../images/breadscrums-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.breadcrumbs-link {
  display: inline-flex;
  justify-content: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
}

.breadcrumbs-item:not(:first-child) {
  margin-left: 10px;
}

.breadscrums-link-icon:hover path {
  fill: rgba(255, 255, 255, 0.60);
}

.breadscrums-link-icon:active path {
  fill: rgba(255, 255, 255, 0.30);
}

.catalog {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px 70px;
}

.sorting-title {
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin-bottom: 40px;
  color: #333333;
}

.sorting-menu {
  display: flex;
  align-items: center;
  gap: 70px;
}

.sort-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 160px;
}

.select-control {
  width: 292px;
  padding: 12px 18px;
  padding-right: 48px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.30);
  border-color: rgba(0, 0, 0, 0.30);
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  border-radius: 4px;
}

.hotel-link-image {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-image {
  display: block;
}

.hotel-link-title {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-type {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-card-price {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #333333;
}

.star-rating {
  width: 110px;
  min-height: 17px;
  align-self: center;
  background-image: url("../images/rating-star.svg");
  background-repeat: space;
  background-size: 18px 17px;
}

.star-rating-1 {
  width: 18px;
}

.star-rating-2 {
  width: 41px;
}

.star-rating-3 {
  width: 64px;
}

.star-rating-4 {
  width: 87px;
}

.star-rating-5 {
  width: 110px;
}

.hotel-card-rating {
  margin: 0;
  padding: 9px 22px 8px 23px;
  min-width: 140px;
  min-height: 37px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  align-items: center;
  align-self: stretch;
  width: 1060px;
  margin-top: 40px;
}

.pagination-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  padding: 2px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link[href]:hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link[href]:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.pagination-further {
  min-width: 60px;
  height: 60px;
  font-family: inherit;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  min-height: 414px;
  padding: 96px 258px 104px 258px;
  color:#ffffff;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #2b2533;
}

.subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 684px;
}

.subscription .page-subtitle {
  margin-bottom: 54px;
  color: #ffffff;
}

.subscription-simple {
  color: #333333;
  background-color: #ffffff;
  background-image: none;
}

.subscription-simple .page-subtitle {
  color: #333333;
}

.subscription-simple .page-title {
  color: #000000;
}

.subscription-form {
  display: flex;
  flex-shrink: 1;
  text-align: center;
}

.field {
  width: 452px;
  height: 52px;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border-color: #f2f2f2;
  border: none;
}

.field:hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.subscription-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 232px;
  height: 52px;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: none;
  border-radius: 0 4px 4px 0;
}

.subscription-button:hover {
  background-color: #68a2ca;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #82b3d3;
}

.subscription-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
}

.footer-social {
  flex-shrink: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 180px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.footer-social-icon:hover path {
  fill: #68a2ca;
}

.footer-social-icon:active path {
  fill: #68a2ca;
  fill-opacity: 0.3;
}

.footer-phone {
  display: flex;
  flex-wrap: wrap;
}

.footer-phone-number {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 194px 5px 195px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-phone-number:hover {
  color: #756157;
}

.footer-phone-number:active {
  color: rgba(117, 97, 87, 0.30);
}

.footer-developer-icon {
  display: block;
}

.footer-developer-icon:hover path{
  fill: #756157;
}

.footer-developer-icon:active path {
  fill: #756157;
  fill-opacity: 0.3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 19px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-button {
  width: 577px;
  padding: 18px 77px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.field-group {
  margin: 0;
  margin-bottom: 48px;
}

.field-group-dates {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.field-group-dates::after {
  position: absolute;
  content: "";
  right: 20px;
  width: 16px;
  height: 15px;
  opacity: 0.3;
  background-image: url("../images/modal-calendar.svg");
  background-repeat: no-repeat;
}

.modal-choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 577px;
}

.field-group-choice {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 247px;
}

.field-group-choice-extended {
  width: 242px;
}

.choice-guests-button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.choice-guests-button:hover path {
  fill: #000000;
  fill-opacity: 1;
}

.choice-guests-button:active path {
  fill: #756157;
  fill-opacity: 0.3;
}

.modal-minus {
  position: absolute;
  top: 30%;
  left: 60%;
}

.modal-plus {
  position: absolute;
  top: 30%;
  right: 4%;
}

.modal-icon {
  display: block;
  transform: translateX(-25%);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.modal-label {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
}

.field-extended {
  width: 440px;
  min-height: 48px;
  padding: 10px 18px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 2px solid #f2f2f2;
}

.field-extended:hover {
  background-color: #e6e6e6;
}

.field-extended:active {
  background-color: #e6e6e6;
  border: 2px solid #000000;
}

.field-group-dates input::placeholder {
  color: #000000;
}

.modal-text {
  position: absolute;
  top: 105%;
  left: 24%;
  right: 10%;
  padding: 0 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: none;
}

.modal-choice-field {
  width: 110px;
  padding: 14px 10px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color:  #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.modal-choice-field::-webkit-outer-spin-button,
.modal-choice-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-choice-field {
  -moz-appearance:textfield;
}

.search-error {
  color: #ff5757;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: 0;
  margin-left: 10px;
}

.tooltip-toggle {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
  color: #82b3d3;
}

.modal-label-icon {
  position: relative;
  padding-right: 26px;
}

.tooltip-toggle:hover {
  opacity: 0.8;
}

.tooltip-text {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  width: 256px;
  min-height: 143px;
  padding-left: 22px;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 19px;
  height: 19px;
  background-color: #333333;
}
