@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2"); format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2"); format("woff2");
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navigation-list {
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 8px 50px;
}

.button-large {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.button-secondary {
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 50px;
}

.button-transparent {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.button-tertiary {
  color: #ffffff;
  background-color: #7DB54F;
}

.hero-container {
  background-image: url("../images/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color:#ffffff;
  background-color: #23353F;
}

.hero-welcome {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.page-subtitle {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-extended,
.advantages-item-extended:nth-child(even) {
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
}

.advantages-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantages-item-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-extended .advantages-item-title {
  color: #ffffff;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-img {
  width: 800px;
  height: 385px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  width: 400px;
  text-align: center;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  align-items: center;
}

.search .page-title {
  margin: 0;
  margin-bottom: 20px;
}

.search .page-subtitle {
  margin: 0;
  width: 592px;
  min-height: 52px;
  margin-bottom: 54px;
}

.filters-container {
  background-image: url("../images/inner-header-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #2B2533;
}

.inner-header-title {
  color: inherit;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.control-input {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.range-slifer-input {
  color: #000000;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
}

.control-text {
  text-align: right;
  font-weight: 400;

}
.control-input-cost {
  font-weight: 700;
}

.breadcrumbs {
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  }

.sorting-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  }

.sorting-container {
  display: flex;
  justify-content: space-between;
  color: #333333;
  background-color: #E5E5E5;
  }

.select-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
  list-style-type: none;
}

.hotel-card {
  border: 1px solid #E6E6E6;

}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.hotel-card-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.hotel-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-list {
  list-style-type: none;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.subscription {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color:#ffffff;
  background-color: #2B2533;
  display: flex;
  flex-direction: column;
}

.subscription .page-subtitle {
  color: #ffffff;
}

.subscription-simple {
  background-color: #ffffff;
  color: #333333;
  background-image: none;
}

.subscription-simple .page-subtitle {
  color: #333333;
}

.subscription-simple .page-title {
  color: #000000;
}

.subscription-form {
  text-align: center;
}
.subscription-button {
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 232px;
  height: 52px;
}

.field {
  color: #000000;
  background-color: #F2F2F2;
  width: 452px;
  height: 52px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  height: 120px;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  list-style-type: none;
}

.footer-phone-number {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 720px;
  height: 50px;
}
